<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="id==''">
      <ion-item>
          <ion-input type="text" placeholder="+66940282690" [(ngModel)]="number"></ion-input>
      </ion-item>
      <button ion-button full (click)="send(number)" >Send</button>
  </div>

  <div *ngIf="id!=''">
      <ion-item>
          <ion-input type="text" placeholder="OTP" [(ngModel)]="code"></ion-input>
      </ion-item>
      <button ion-button full (click)="check(code)" >Verifiy</button>
  </div>
   
  


</ion-content>
